name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup .NET Core SDK 3.1
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 3.1.x
      - name: Setup .NET Core SDK 6.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x
      - name: Setup .NET Core SDK 7.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x
      - name: Setup .NET Core SDK 8.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "8.0.x"

      - name: Restore dependencies
        run: dotnet restore Build.csproj

      - name: Build
        run: dotnet build Build.csproj --no-restore -c Release

      - name: Test
        run: dotnet test Build.csproj --no-build --verbosity normal -c Release

      - name: Pack
        if: ${{ success() && !github.base_ref }}
        run: |
          dotnet pack src/Sigin.ObjectId/Sigin.ObjectId.csproj --no-build --verbosity normal -c Release -o artifacts/

      - name: Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: artifacts
          path: artifacts/**/*
